
<div *ngFor="let discover of livefeeds ">
        
        <a [routerLink]="['/livefeeds/', discover.id]">
            <span class="badge" style=" float: right; "><i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </a>
        <a [routerLink]="['/livefeeds/', discover.id]">
            <span class="badge" style=" float: right; "><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span>
        </a>
<span class="badge badge-dark">{{discover.id}}</span>
    {{ discover.livefeedImage }} <br>
    {{ discover.livefeedTitle }} <br>
    {{ discover.livefeedDescription }} 
    <a [routerLink]="['/livefeeds/view/', discover.id]" style="color:black"><span style=" background: darkgreen; border-radius: 5px; font-size: 14px;text-decoration: none; padding: 1px 6px 1px 8px; color: white; ">Read More</span></a><br>
<br><br>
<hr>
</div>

